infra/live/.terraform.lock.hcl
infra/live/.terraform/
infra/live/backend.tf
infra/live/backend.tfstate
infra/live/provider.generated.tf
infra/live/dev/eks/.terraform.lock.hcl
infra/live/dev/eks/.terragrunt-cache/
infra/live/dev/vpc/.terraform.lock.hcl
infra/live/dev/vpc/.terragrunt-cache/
infra/live/dev/iam/.terragrunt-cache/
infra/live/dev/iam/.terraform.lock.hcl
infra/live/dev/ecr/.terragrunt-cache/
infra/live/dev/ecr/.terraform.lock.hcl
infra/live/prod/eks/.terraform.lock.hcl
infra/live/prod/eks/.terragrunt-cache/
infra/live/prod/vpc/.terraform.lock.hcl
infra/live/prod/vpc/.terragrunt-cache/
infra/live/prod/iam/.terragrunt-cache/
infra/live/prod/iam/.terraform.lock.hcl
infra/live/prod/ecr/.terragrunt-cache/
infra/live/prod/ecr/.terraform.lock.hcl